@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFDD;
}

.nav {
    position: sticky;
    top: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #016A70;
    font-family: 'Borel', cursive;
    color: #FFFFDD;
}

.nav h1 {
    height: 70%;
}

.day {
    background-color: #D2DE32;
    border-radius: 10px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-top: 2%;
    width: 95%;
}

.submit {
    background-color: #D2DE32;
    border-radius: 10px;
    height: 10vh;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    /* width: 90%; */
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 3%;
}

select {
    background-color: #FFFFDD;
    height: 60%;
    width: 45%;
    border-radius: 10px;
    font-size: medium;
}

input {
    background-color: #FFFFDD;
    height: 60%;
    width: 45%;
    border-radius: 10px;
    font-size: medium;
    width: 92%;
    /* font-family: 'Borel', cursive; */
    font-size: larger;
}

.name {
    background-color: #A2C579;
    width: 95%;
    border-radius: 10px;
    height: 6vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-radius: 10px;
    background: linear-gradient(145deg, #e6e6c7, #ffffec);
    box-shadow: 4px 4px 8px #d9d9bc,
        -4px -4px 8px #fffffe;
}

.cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 5px;
    margin-top: 3%;
}

.item,
.call {
    font-size: large;
}

.item {
    width: 80%;
    font-size: larger;
    /* font-family: 'Borel', cursive; */
}

.call {
    width: 10%;
}
a{
    text-decoration: none;
}